<template>
  <v-flex xs12 sm14 offset-sm0>
  <section>
      <div class="box">


        <div class="title is-4">{{ topic.title }}</div>
        <div class="divider"></div>

        <article class="media" style="margin-top: 16px;">
          <div class="media-content">
            <div class="content">
              <div> {{ topic.description }} </div>
            </div>
          </div>
        </article>
        <b-field grouped group-multiline >
          <div v-for="tag of topic.metadata.tags" :key="tag.id">
            <div class="field" style="margin-right: 8px;">
              <b-tag class="is-info"> {{ tag.value }} </b-tag>
            </div>
          </div>
        </b-field>
        </div>

        <div class="box">
          <b-field label="Напишите свой комментарий:">
            <b-input type="textarea" v-model="commentText"></b-input>
        </b-field>
            <a @click="createComment()" class="button is-outlined" v-if="session_token !== null">Отправить</a>
       </div>


        
      <div class="box">
        <div class="divider" style="margin-top: 8px;"></div>
        <div v-for="comment in items" :key="comment.metadata.id" style="margin-top: 16px;">
          <div>
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <center>
                    <div class="title is-4"> {{ comment.metadata.votes }} </div>
                    <div class="subtitle is-6"> Голосов </div>
                    <a @click="upvote()" class="button is-outlined" v-if="session_token !== null">+</a>
                    <a @click="downvote()" class="button is-outlined" v-if="session_token !== null">-</a>
                  </center>
                  <!-- Here should be some vote icons & stats !-->
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ comment.metadata.created_by_identity.first_name + ' ' + comment.metadata.created_by_identity.last_name }}</strong> <small>{{ formatCommentDateTime(comment.metadata.created_time) }}</small>
                    <br>
                    {{ comment.content_text }}
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item">
                      <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                      <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                      <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <div class="divider"></div>
        </div>
       </div>
       
  </section>
  </v-flex>
</template>

<script>
import validation from './validation.js'
import utils from '../../utils'

export default {
  name: 'CommentsList',
  data () {
    return {
      commentText: '',
      commentTextRules: validation.commentTextRules,
      page: 1
    }
  },
  computed: {
    topic () {
      return this.$store.getters.topicSelected
    },
    items () {
      return this.$store.getters.commentsPageDataSet
    },
    length () {
      return this.$store.getters.commentsPageTotal
    }
  },
  mounted: function () {
    this.$store.dispatch('fetchTopic', this.$route.params.topicId)
    this.$store.dispatch('fetchCommentsPage', { page: 1, topicId: this.$route.params.topicId })
  },
  methods: {
    createComment () {
      this.$store.dispatch('createComment', { topicId: this.$route.params.topicId, model: { content_text: this.commentText } })
      this.commentText = ''
    },

    navigateToPage () {
      this.$store.dispatch('fetchCommentsPage', { page: this.page, topicId: this.$route.params.topicId })
    },

    formatCommentDateTime (dateTime) {
      return utils.formatDateTime(dateTime)
    }
  }
}
</script>

<style scoped>

</style>
