@import url('https://fonts.googleapis.com/css?family=Roboto:500,400');

.artboard {
    width: 100%;
    min-width: 1920px;
    height: 100vh;
    min-height: 1080px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: rgba(255,255,255,1.0);
}

a {
    text-decoration: none;
}

div {
    -webkit-text-size-adjust: none;
}

.artboard .a20180301170514 {
    background: rgba(255,255,255,0.0);
    top: -264px;
    height: 1082px;
    width: 1422px;
    position: absolute;
    margin: 0;
    left: 249px;
}

.artboard .card {
    background: rgba(255,255,255,0.0);
    top: -4px;
    height: 809px;
    width: 1255px;
    position: absolute;
    margin: 0;
    left: 332px;
}

.artboard .topic {
    background: rgba(255,255,255,0.0);
    top: 76px;
    height: 280px;
    width: 1207px;
    position: absolute;
    margin: 0;
    left: 357px;
    border-radius: 2px;
    overflow: hidden;
}

.artboard .topic .image1 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 280px;
    width: 1207px;
    position: absolute;
    margin: 0;
    left: 0;
}

.artboard .topic .view1 {
    background: rgba(255,255,255,0.0);
    top: 179px;
    height: 68px;
    width: 1142px;
    position: absolute;
    margin: 0;
    left: 28px;
}

.artboard .topic .view1 .oval88 {
    background: rgba(0,0,0,0.38);
    top: 12px;
    height: 55px;
    width: 55px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 27px;
}

.artboard .topic .view1 .label1 {
    background: rgba(255,255,255,0.0);
    top: 10px;
    height: auto;
    width: 647px;
    position: absolute;
    margin: 0;
    left: 97px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 26.0px;
}

.artboard .topic .view1 .label2 {
    background: rgba(255,255,255,0.0);
    top: 43px;
    height: auto;
    width: 647px;
    position: absolute;
    margin: 0;
    left: 97px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.54);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view1 .view2 {
    background: rgba(255,255,255,0.0);
    top: 8px;
    height: 54px;
    width: 106px;
    position: absolute;
    margin: 0;
    left: 757px;
}

.artboard .topic .view1 .view2 .a228 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 9px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 32.0px;
}

.artboard .topic .view1 .view2 .label3 {
    background: rgba(255,255,255,0.0);
    top: 30px;
    height: auto;
    width: 106px;
    position: absolute;
    margin: 0;
    left: 0;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view1 .view3 {
    background: rgba(255,255,255,0.0);
    top: 11px;
    height: 48px;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 625px;
}

.artboard .topic .view1 .view3 .a5 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 0;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 32.0px;
}

.artboard .topic .view1 .view3 .label4 {
    background: rgba(255,255,255,0.0);
    top: 24px;
    height: auto;
    width: 54px;
    position: absolute;
    margin: 0;
    left: 12px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view1 .view4 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 68px;
    width: 203px;
    position: absolute;
    margin: 0;
    left: 939px;
}

.artboard .topic .view1 .view4 .label5 {
    background: rgba(255,255,255,0.0);
    top: 34px;
    height: auto;
    width: 116px;
    position: absolute;
    margin: 0;
    left: 89px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.88);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view1 .view4 .label6 {
    background: rgba(255,255,255,0.0);
    top: 14px;
    height: auto;
    width: 116px;
    position: absolute;
    margin: 0;
    left: 89px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.7);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view1 .view4 .view5 {
    background: rgba(0,0,0,0.38);
    top: 0;
    height: 68px;
    width: 68px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 34px;
}

.artboard .topic .line {
    background: rgba(255,255,255,0.0);
    top: 160px;
    height: 3px;
    width: 1256px;
    position: absolute;
    margin: 0;
    left: -35px;
}

.artboard .topic .view6 {
    background: rgba(255,255,255,0.0);
    top: 74px;
    height: 68px;
    width: 1142px;
    position: absolute;
    margin: 0;
    left: 28px;
}

.artboard .topic .view6 .view7 {
    background: rgba(0,0,0,0.38);
    top: 12px;
    height: 55px;
    width: 55px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 27px;
}

.artboard .topic .view6 .label7 {
    background: rgba(255,255,255,0.0);
    top: 10px;
    height: auto;
    width: 647px;
    position: absolute;
    margin: 0;
    left: 97px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 26.0px;
}

.artboard .topic .view6 .label8 {
    background: rgba(255,255,255,0.0);
    top: 43px;
    height: auto;
    width: 647px;
    position: absolute;
    margin: 0;
    left: 97px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.54);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view6 .view8 {
    background: rgba(255,255,255,0.0);
    top: 8px;
    height: 54px;
    width: 106px;
    position: absolute;
    margin: 0;
    left: 757px;
}

.artboard .topic .view6 .view8 .label9 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 9px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 32.0px;
}

.artboard .topic .view6 .view8 .label10 {
    background: rgba(255,255,255,0.0);
    top: 30px;
    height: auto;
    width: 106px;
    position: absolute;
    margin: 0;
    left: 0;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view6 .view9 {
    background: rgba(255,255,255,0.0);
    top: 11px;
    height: 48px;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 625px;
}

.artboard .topic .view6 .view9 .label11 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 0;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 32.0px;
}

.artboard .topic .view6 .view9 .label12 {
    background: rgba(255,255,255,0.0);
    top: 24px;
    height: auto;
    width: 54px;
    position: absolute;
    margin: 0;
    left: 12px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view6 .view10 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 68px;
    width: 203px;
    position: absolute;
    margin: 0;
    left: 939px;
}

.artboard .topic .view6 .view10 .label13 {
    background: rgba(255,255,255,0.0);
    top: 34px;
    height: auto;
    width: 116px;
    position: absolute;
    margin: 0;
    left: 89px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.88);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view6 .view10 .label14 {
    background: rgba(255,255,255,0.0);
    top: 14px;
    height: auto;
    width: 116px;
    position: absolute;
    margin: 0;
    left: 89px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.7);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .topic .view6 .view10 .view11 {
    background: rgba(0,0,0,0.38);
    top: 0;
    height: 68px;
    width: 68px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 34px;
}

.artboard .topic .app-bar-bg {
    background: rgba(255,255,255,0.0);
    top: -8px;
    height: 72px;
    width: 1257px;
    position: absolute;
    margin: 0;
    left: -25px;
}

.artboard .topic .label15 {
    background: rgba(255,255,255,0.0);
    top: 16px;
    height: auto;
    width: 1142px;
    position: absolute;
    margin: 0;
    left: 27px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20.0px;
    color: rgba(255,255,255,1.0);
    text-align: justify;
    line-height: 26.0px;
}

.artboard .view12 {
    background: rgba(255,255,255,0.0);
    top: 363px;
    height: 280px;
    width: 1207px;
    position: absolute;
    margin: 0;
    left: 357px;
    border-radius: 2px;
    overflow: hidden;
}

.artboard .view12 .image2 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 280px;
    width: 1207px;
    position: absolute;
    margin: 0;
    left: 0;
}

.artboard .view12 .view13 {
    background: rgba(255,255,255,0.0);
    top: 179px;
    height: 68px;
    width: 1142px;
    position: absolute;
    margin: 0;
    left: 28px;
}

.artboard .view12 .view13 .view14 {
    background: rgba(0,0,0,0.38);
    top: 12px;
    height: 55px;
    width: 55px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 27px;
}

.artboard .view12 .view13 .label16 {
    background: rgba(255,255,255,0.0);
    top: 10px;
    height: auto;
    width: 647px;
    position: absolute;
    margin: 0;
    left: 97px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 26.0px;
}

.artboard .view12 .view13 .label17 {
    background: rgba(255,255,255,0.0);
    top: 43px;
    height: auto;
    width: 647px;
    position: absolute;
    margin: 0;
    left: 97px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.54);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view13 .view15 {
    background: rgba(255,255,255,0.0);
    top: 8px;
    height: 54px;
    width: 106px;
    position: absolute;
    margin: 0;
    left: 757px;
}

.artboard .view12 .view13 .view15 .label18 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 9px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 32.0px;
}

.artboard .view12 .view13 .view15 .label19 {
    background: rgba(255,255,255,0.0);
    top: 30px;
    height: auto;
    width: 106px;
    position: absolute;
    margin: 0;
    left: 0;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view13 .view16 {
    background: rgba(255,255,255,0.0);
    top: 11px;
    height: 48px;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 625px;
}

.artboard .view12 .view13 .view16 .label20 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 0;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 32.0px;
}

.artboard .view12 .view13 .view16 .label21 {
    background: rgba(255,255,255,0.0);
    top: 24px;
    height: auto;
    width: 54px;
    position: absolute;
    margin: 0;
    left: 12px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view13 .view17 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 68px;
    width: 203px;
    position: absolute;
    margin: 0;
    left: 939px;
}

.artboard .view12 .view13 .view17 .label22 {
    background: rgba(255,255,255,0.0);
    top: 34px;
    height: auto;
    width: 116px;
    position: absolute;
    margin: 0;
    left: 89px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.88);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view13 .view17 .label23 {
    background: rgba(255,255,255,0.0);
    top: 14px;
    height: auto;
    width: 116px;
    position: absolute;
    margin: 0;
    left: 89px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.7);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view13 .view17 .view18 {
    background: rgba(0,0,0,0.38);
    top: 0;
    height: 68px;
    width: 68px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 34px;
}

.artboard .view12 .image3 {
    background: rgba(255,255,255,0.0);
    top: 160px;
    height: 3px;
    width: 1256px;
    position: absolute;
    margin: 0;
    left: -35px;
}

.artboard .view12 .view19 {
    background: rgba(255,255,255,0.0);
    top: 74px;
    height: 68px;
    width: 1142px;
    position: absolute;
    margin: 0;
    left: 28px;
}

.artboard .view12 .view19 .view20 {
    background: rgba(0,0,0,0.38);
    top: 12px;
    height: 55px;
    width: 55px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 27px;
}

.artboard .view12 .view19 .label24 {
    background: rgba(255,255,255,0.0);
    top: 10px;
    height: auto;
    width: 647px;
    position: absolute;
    margin: 0;
    left: 97px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 26.0px;
}

.artboard .view12 .view19 .label25 {
    background: rgba(255,255,255,0.0);
    top: 43px;
    height: auto;
    width: 647px;
    position: absolute;
    margin: 0;
    left: 97px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.54);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view19 .view21 {
    background: rgba(255,255,255,0.0);
    top: 8px;
    height: 54px;
    width: 106px;
    position: absolute;
    margin: 0;
    left: 757px;
}

.artboard .view12 .view19 .view21 .label26 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 9px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 32.0px;
}

.artboard .view12 .view19 .view21 .label27 {
    background: rgba(255,255,255,0.0);
    top: 30px;
    height: auto;
    width: 106px;
    position: absolute;
    margin: 0;
    left: 0;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view19 .view22 {
    background: rgba(255,255,255,0.0);
    top: 11px;
    height: 48px;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 625px;
}

.artboard .view12 .view19 .view22 .label28 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 0;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 32.0px;
}

.artboard .view12 .view19 .view22 .label29 {
    background: rgba(255,255,255,0.0);
    top: 24px;
    height: auto;
    width: 54px;
    position: absolute;
    margin: 0;
    left: 12px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view19 .view23 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 68px;
    width: 203px;
    position: absolute;
    margin: 0;
    left: 939px;
}

.artboard .view12 .view19 .view23 .label30 {
    background: rgba(255,255,255,0.0);
    top: 34px;
    height: auto;
    width: 116px;
    position: absolute;
    margin: 0;
    left: 89px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.88);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view19 .view23 .label31 {
    background: rgba(255,255,255,0.0);
    top: 14px;
    height: auto;
    width: 116px;
    position: absolute;
    margin: 0;
    left: 89px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.7);
    text-align: justify;
    line-height: 24.0px;
}

.artboard .view12 .view19 .view23 .view24 {
    background: rgba(0,0,0,0.38);
    top: 0;
    height: 68px;
    width: 68px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 34px;
}

.artboard .view12 .image4 {
    background: rgba(255,255,255,0.0);
    top: -8px;
    height: 72px;
    width: 1257px;
    position: absolute;
    margin: 0;
    left: -25px;
}

.artboard .view12 .label32 {
    background: rgba(255,255,255,0.0);
    top: 16px;
    height: auto;
    width: 1142px;
    position: absolute;
    margin: 0;
    left: 27px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20.0px;
    color: rgba(255,255,255,1.0);
    text-align: justify;
    line-height: 26.0px;
}

.artboard .header {
    background: rgba(255,255,255,0.0);
    top: -2px;
    height: 72px;
    width: 1381px;
    position: absolute;
    margin: 0;
    left: 208px;
}

.artboard .header .image5 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 72px;
    width: 1257px;
    position: absolute;
    margin: 0;
    left: 124px;
}

.artboard .header .diabet {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 158px;
    font-family: 'HelveticaNeue-Bold',Helvetica,Arial,serif;
    font-size: 48.0px;
    color: rgba(255,255,255,1.0);
    text-align: left;
    letter-spacing: .04px;
    line-height: 58.0px;
}

.artboard .header .buttons {
    background: rgba(255,255,255,0.0);
    top: 4px;
    height: 60px;
    width: 1249px;
    position: absolute;
    margin: 0;
    left: 0;
    overflow: hidden;
}

.artboard .header .buttons .bounds {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 60px;
    width: 1249px;
    position: absolute;
    margin: 0;
    left: 0;
    opacity: .0;
}

.artboard .header .buttons .label33 {
    background: rgba(255,255,255,0.0);
    top: 9px;
    height: auto;
    width: 150px;
    position: absolute;
    margin: 0;
    left: 429px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(255,255,255,1.0);
    text-align: center;
    line-height: 32.0px;
}

.artboard .header .buttons .label34 {
    background: rgba(255,255,255,0.0);
    top: 9px;
    height: auto;
    width: 128px;
    position: absolute;
    margin: 0;
    left: 579px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(255,255,255,1.0);
    text-align: center;
    line-height: 32.0px;
}

.artboard .header .search {
    background: rgba(255,255,255,0.0);
    top: 7px;
    height: 54px;
    width: 427px;
    position: absolute;
    margin: 0;
    left: 870px;
}

.artboard .header .search .image6 {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 54px;
    width: 427px;
    position: absolute;
    margin: 0;
    left: 0;
}

.artboard .header .search .view25 {
    background: rgba(255,255,255,0.0);
    top: 17px;
    height: 18px;
    width: 18px;
    position: absolute;
    margin: 0;
    left: 389px;
    opacity: .54;
}

.artboard .header .search .view25 .shape {
    background: rgba(255,255,255,0.0);
    top: 0;
    height: 18px;
    width: 18px;
    position: relative;
    margin: 0;
    left: 0;
}

.artboard .header .search .label35 {
    background: rgba(255,255,255,0.0);
    top: 15px;
    height: auto;
    width: 59px;
    position: absolute;
    margin: 0;
    left: 17px;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(0,0,0,0.38);
    text-align: justify;
    line-height: 20.0px;
}

.artboard .header .person {
    background: rgba(0,0,0,1.0);
    top: 14px;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: 0;
    left: 1313px;
    border-radius: 20px;
}

@-webkit-keyframes anima-reveal{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes anima-reveal{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes anima-reveal{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anima-reveal{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
