<template>
    <section class="section" style="background: white; border: 1px solid #e4e6e8">

      <!-- Регистрация по e-mailу и телефону-->

        <b-field label="Имя">
            <b-input placeholder="Василий"
            v-model="first_name"></b-input>
        </b-field>
        <template v-if="registerError==='Имя введено неверно!'">
	      <div class="help is-danger" style="width: 300px">
	        {{registerError}}
	      </div>
    	</template>

        <b-field label="Фамилия">
            <b-input placeholder="Пупкин"
            v-model="last_name"></b-input>
        </b-field>
        <template v-if="registerError==='Фамилия введена неверно!'">
	      <div class="help is-danger" style="width: 300px">
	        {{registerError}}
	      </div>
    	</template>

        <b-field label="Телефонный номер">
            <b-input placeholder="88005553535"
            v-model="phone_number"></b-input>
        </b-field>
        <template v-if="registerError==='Введен недействительный номер телефона!'
        			  ||registerError==='Данный номер телефона уже зарегистрирован!'">
	      <div class="help is-danger" style="width: 300px">
	        {{registerError}}
	      </div>
    	</template>

        <b-field label="Email">
            <b-input placeholder="vasuapupkin@10minutemail.com"
            v-model="email"></b-input>
        </b-field>
    	<template v-if="registerError==='Введена недействительная почта!'
    				  ||registerError==='Данная почта уже зарегистрирована!'">
	      <div class="help is-danger" style="width: 300px">
	        {{registerError}}
	      </div>
    	</template>


        <b-field label="Пароль">
          <b-input type="password"
            placeholder="12345"
            v-model="password"
            password-reveal>
          </b-input>
        </b-field>

      <center>


        <div class="level" style="width: 300px;">
          <a class="button level-item" @click="register()">Регистрация</a>
        </div>

        <div>
          Фактом регистрации вы принимаете условия <br><a @click="openPrivacyPolicy()" style="font-size: 14px;">политики конфиденциальности</a> и <a @click="openTermsOfService()" style="font-size: 14px;">соглашение.</a>
        </div>

        <div>
          Уже есть учётная запись? <a @click="haveAccount()" style="font-size: 14px;">Войдите</a>
        </div>
      </center>

    </section>
</template>

<script>
import validation from './validation.js'

export default {
  name: 'Registration',

  data () {
    return {
      first_name: '',
      nameRules: validation.usernameRules,

      last_name: '',

      phone_number: '',
      phoneRules: validation.phoneRules,

      email: '',

      password: '',
      passwordRules: validation.passwordRules,

      authorizeLabel: 'Регистрация'

    }
  },

  computed: {
    registerError() {
      return this.$store.getters.registerError
    }
  },

  methods: {
    register () {
      this.$store.dispatch('register', {first_name: this.first_name, last_name: this.last_name, phone_number: this.phone_number, email: this.email, password: this.password})
    },
    openTermsOfService () {

    },
    openPrivacyPolicy () {

    },
    haveAccount () {
      this.$router.push(`/authorize`)
    }

  }

}

</script>

<style scoped>

</style>
