<template>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
          <div class="mdl-layout-spacer"></div>
      <a @click="navigateToquestions()" class="mdl-tabs__tab">Вопросы</a>
      <a @click="navigateToCategories()" class="mdl-tabs__tab">Категории</a>

      <!-- Поиск -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right my-page-search-align">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons" >search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div>
      <div class="mdl-layout-spacer"></div>

      <a @click="navigateToLogIn()" class="mdl-tabs__tab is-active" v-if="session_token === null">Вход</a>
      <a @click="navigateToRegister()" class="mdl-tabs__tab" v-if="session_token === null">Регистрация</a>
      <a @click="navigateToMyAccount()" class="mdl-tabs__tab" v-if="session_token !== null">Мой аккаунт</a>
      <a @click="signout()" class="mdl-tabs__tab" v-if="session_token !== null">Выход</a>

      </div>
  <div class="mdl-tabs__panel" id="questions-panel">
  </div>
  <div class="mdl-tabs__panel" id="category-panel">
  </div>
   <div class="mdl-tabs__panel is-active" id="signin-panel">
   </div>
  <div class="mdl-tabs__panel" id="registration-panel">
  </div>
  </div>
  </template>

<script>
export default {
  name: 'ContentsHeader',
  data () {
    return {

    }
  },
  created () {
    this.$bus.$on('logged', () => {
      this.isLogged = this.checkIfIsLogged()
    })
  },
  computed: {
    session_token() {
      return this.$store.getters.sessionToken
    }
  },
  methods: {
    navigateToLogIn () {
      this.$router.push(`/authorize`)
    },
    navigateToRegister () {
      this.$router.push(`/register`)
    },
    navigateToMyAccount () {
      this.$router.push(`/users/`+this.$store.getters.identity)
      this.$store.dispatch('fetchIdentity', this.$store.getters.identity) 
      this.$store.dispatch('fetchUserTopics', this.$store.getters.identity) 
      console.log(this.$store.getters.sessionToken)
      
    },
    navigateToCategories () {
      this.$router.push(`/categories`)
    },
    navigateToquestions () {
      this.$router.push(`/questions`)
    },
    signout () {
      this.$store.commit('invalidateSessionToken',null)
      this.$router.push('/')
    }
  }
}
</script>

<style>
.my-page-search-align{
  padding-top: 6px;
}

</style>
