<template>
  <div >
    <hr />
    <footer>
        <div class="footer-copyright">
            <div>© Copyright {{year}} Кучка долбоебов, LLC</div>
            <div>None rights reserved. Powered by желание получить 10.</div>
        </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'ContentsFooter',
  data: function () {
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>

<style>

</style>
