<template>
  <section>
     <div class="card" style="margin-top:70px;margin-left:20px;height:200px">
  <header class="card-header" style="height:30px">
    <p class="card-header-title">
    Самые популярные теги</p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
         <b-field grouped group-multiline>
          <div v-for="tag of popularTags" :key="tag.id">
            <div class="control">
              <b-taglist attached>
                <b-tag class="is-primary"><a @click="fuckingtag(tag.url)"> {{ tag.value }}</a> </b-tag>
                <b-tag class="is-light"> {{ tag.topics_count }} </b-tag>
              </b-taglist>
            </div>
          </div>
        </b-field>
    </div>
  </div>
</div>

  </section>
</template>

<script>
export default {
  name: 'LeftFeatured',
  computed: {
    popularTags() {
      return this.$store.getters.popularTags
    }
  },
  methods: {
    fuckingtag(url){
      this.$router.push(url)
    }
  },
  mounted: function(){
    this.$store.dispatch('fetchPopularTags', null)
  }
}
</script>
<style scoped>
a {
    color:white;
}
</style>
