<template>
 <section>
     <div class="card" style="margin-top:70px;margin-left:20px;height:400px">
  <header class="card-header" style="height:30px">
    <p class="card-header-title">
    Самые популярные категории
   </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
    <div class="card-content">
      <b-taglist>
        <ul>
        <b-tag type="is-primary"><a href="">Физическая подготовка и упражнения</a></b-tag>
        <b-tag type="is-primary"><a href="">Потребление инсулина и его последствия</a></b-tag>
        <b-tag type="is-primary"><a href="">Важность сбалансированной диеты</a></b-tag>
        <b-tag type="is-primary"><a href="">hdguygdyugwshgdhsfdh</a></b-tag>
         <b-tag type="is-primary"><a href="">Физическая подготовка и упражнения</a></b-tag>
        <b-tag type="is-primary"><a href="">Потребление инсулина и его последствия</a></b-tag>
        <b-tag type="is-primary"><a href="">Как потерять вес?</a></b-tag>
        <b-tag type="is-primary"><a href="">hdguygdyugwgfuygyugfugfgeyuf</a></b-tag>
        <b-tag type="is-primary"><a href="">hdguygdyugw</a></b-tag>
         <b-tag type="is-primary"><a href="">Физическая подготовка и упражнения</a></b-tag>
        </ul>
    </b-taglist>
    </div>
     </div>
  </section>
</template>

<script>
export default {
  name: 'RightFeatured',
  methods: {
    navigateToCreateTopic () {
      this.$router.push(`/categories/${this.$route.params.categoryId}/topics/create`)
    }
  }
}
</script>
<style scoped>
a {
    color:white;
}

</style>
