<template>
    <section>

      <!-- Вход по имейлу -->
      <template v-if="loginState === 'email' ">
        <b-field label="Email">
            <b-input placeholder="vasuapupkin@10minutemail.com"
            v-model="name"></b-input>
        </b-field>
        <b-field label="Пароль">
          <b-input type="password"
            placeholder="12345"
            v-model="password"
            password-reveal>
          </b-input>
        </b-field>
        <br>
        <div class="level" style="width: 300px;">
          <a class="button level-left" @click="authorize({ username: name, password: password })">Вход</a>
          <div class="field level-right">
            <a @click="setLoginState('phone')" style="font-size: 12px;">Вход по номеру телефона</a>
          </div>
        </div>
      </template>

      <!-- Вход по номеру телефона -->
      <template v-else-if="loginState === 'phone'">
        <b-field label="Авторизация">
          <b-input placeholder="88005553535"
          v-model="phone"></b-input>
        </b-field>

        <br>
        <div class="level" style="width: 300px;">
          <a class="button level-left" @click="proceedPhone() ">Отправить код</a>
        <div class="field level-right">
            <a @click="setLoginState('email')" style="font-size: 12px;">Вход по Email</a>
            </div>
        </div>
      </template>

    <!-- Вход по коду -->
    <template v-else-if="loginState === 'code'">
      <div style="font-size: 16px; font-weight: bold; margin-bottom: 3px;">Авторизация</div>
      <div style="font-size: 12px; margin-bottom: -5px;">Мы выслали код на номер: {{phoneNumber}}</div>
      <a style="font-size: 12px;" @click="setLoginState('phone')">Неправильный номер?</a>
        <b-field>

          <b-input placeholder="123456"
            v-model="code"
            :counter="6"
            required>
          </b-input>
        </b-field>
        <a class="button" @click="proceedCode()">Войти</a>
        <div style="width: 300px;">
          <div style="font-size: 12px;  margin-bottom: -5px;">Не приходит код?</div>
          <a style="font-size: 12px;" @click="secondProceedPhone()">Отправить повторно</a>
        </div>
      </template>

    </section>
</template>

<script>
import validation from './validation.js'

export default {
  name: 'AuthorizationCredentials',
  data () {
    return {
      name: '',
      nameRules: validation.usernameRules,

      password: '',
      passwordRules: validation.passwordRules,

      authorizeLabel: 'Войти',

      phone: '',
      phoneRules: validation.phoneRules,

      code: '',
      codeRules: validation.codeRules,
    }
  },
  computed: {
    loginState () {
      return this.$store.getters.loginState
    },
    phoneNumber () {
      return this.$store.getters.phoneNumber
    }
  },
  mounted: function () {

  },
  methods: {
    authorize (credentials) {
      this.$store.dispatch('authorizeCredentials', credentials)
    },
    proceedPhone () {
      console.log('validity of input: ' + this.valid)
      this.$store.dispatch('authorizePhone', this.phone)
    },
    secondProceedPhone () {
      console.log('validity of input: ' + this.valid)
      this.$store.dispatch('authorizePhone', this.phoneNumber)
    },
    proceedCode () {
      console.log('validity of input: ' + this.valid)
      this.$store.dispatch('authorizeCode', { phone: this.$route.params.phone, code: this.code })
    },
    setLoginState (newstate) {
      this.$store.commit('setLoginState', newstate )
    }
  }

}

</script>

<style scoped>
</style>
