<template>
  <v-flex xs12 sm6 offset-sm3>
    <v-card>
      <v-card-title>
        <div>
          <h3 class="headline mb-0"> Forum categories </h3>
          <div>groups of discuccions</div>
        </div>
      </v-card-title>
      <v-divider></v-divider>
      <v-spacer></v-spacer>
      <v-list two-line>
        <template v-for="(item, index) in items">
          <v-list-tile
            avatar
            ripple
            @click="navigateToTopics(item)"
            :key="item.metadata.id"
          >
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              <v-list-tile-sub-title class="grey--text text--darken-4">{{ item.metadata.last_modified_by_identity.first_name + ' ' + item.metadata.last_modified_by_identity.last_name }}</v-list-tile-sub-title>
              <v-list-tile-sub-title>{{ item.metadata.last_modified_time }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-if="index + 1 < items.length" :key="item.metadata.id"></v-divider>
        </template>
      </v-list>
    </v-card>
    <v-container>
      <v-layout justify-center>
        <v-flex xs8>
          <v-card>
            <v-card-text>
              <v-pagination :length="length" v-model="page" @input="navigateToPage()"></v-pagination>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script>

export default {
  name: 'CategoriesList',
  data () {
    return {
      page: 1
    }
  },
  computed: {
    items () {
      return this.$store.getters.categoriesPageDataSet
    },

    length () {
      return this.$store.getters.categoriesPageTotal
    }
  },
  mounted: function () {
    this.$store.dispatch('fetchCategoriesPage', 1)
  },
  methods: {
    navigateToTopics (category) {
      this.$store.commit('invalidateTopicsState', null)
      this.$store.commit('setSelectedCategory', category)
      this.$router.push(`/categories/${category.metadata.id}/topics`)
    },

    navigateToPage () {
      console.log('Page is: ' + this.page)
      this.$store.dispatch('fetchCategoriesPage', this.page)
    }
  }
}
</script>

<style scoped>

</style>
