<template>
  <section class="columns">
    <div class="column">
        <div class="title is-6" style="margin-top: 8px;">Все вопросы</div>
        <div class="divider"></div>

        <div v-for="topic in items" :key="topic.metadata.id" @click="navigateToComments(topic)">
          <div class="level">
            <b-field grouped class="level-left">
              <!-- ответы, голоса -->
              <div class="card-content">
                <center>
                  <div class="title is-4">
                    {{ topic.comments_count }}
                  </div>
                  <div class="subtitle is-6">
                    Ответов
                  </div>
                </center>
              </div>

              <div class="card-content">
                <center>
                  <div class="title is-4">
                    {{ topic.metadata.votes }}
                  </div>
                  <div class="subtitle is-6">
                    Голосов
                  </div>
                </center>
              </div>

              <!-- название и теги -->
              <div class="card-content">
                <div>
                  <div class="qName subtitle is-5">
                    {{ topic.title }}
                  </div>
                  <div>
                    <b-field grouped group-multiline>
                      <div v-for="tag of topic.metadata.tags" :key="tag.id">
                        <div class="field" style="margin-right: 8px;">
                          <b-tag class="qTags is-info "> {{ tag.value }} </b-tag>
                        </div>
                      </div>
                    </b-field>
                  </div>
                </div>
              </div>
            </b-field>


            <div class="creator card-content level-right" style="margin-top:10px; word-wrap: break-word;">
              {{ topic.metadata.created_by_identity.first_name + ' ' + topic.metadata.created_by_identity.last_name }}
            </div>

          </div>
          <div class="divider"></div>
        </div>
      </div>
  </section>
</template>

<script>
import utils from '../../utils'

export default {
  name: 'TopicsList',
  data () {
    return {
      page: 1
    }
  },
  computed: {
    category () {
      return this.$store.getters.categorySelected
    },
    items () {
      return this.$store.getters.topicsPageDataSet
    },
    length () {
      return this.$store.getters.topicsPageTotal
    }
  },
  mounted: function () {
    this.$store.dispatch('fetchCategory', this.$route.params.categoryId)
    this.$store.dispatch('fetchTopicsPage', { page: 1, categoryId: this.$route.params.categoryId })
  },
  methods: {
    navigateToComments (topic) {
      this.$store.commit('invalidateCommentsState', null)
      this.$store.commit('setSelectedTopic', topic)
      this.$router.push(`/topics/${topic.metadata.id}/comments`)
    },

    navigateToCreateTopic () {
      this.$router.push(`/categories/${this.$route.params.categoryId}/topics/create`)
    },

    navigateToPage () {
      console.log('Page is: ' + this.page)
      this.$store.dispatch('fetchTopicsPage', { page: this.page, categoryId: this.$route.params.categoryId })
    },

    formatTopicDateTime (dateTime) {
      return utils.formatDateTime(dateTime)
    }
  }
}
</script>

<style scoped>
.divider {
  width: 100%;
  height: 1px;
  background: #BDBDBD;
  margin-top: -12px;
}
.topics-list {
  height: 92px;

}
.qName {
  max-width: 280px;
  word-wrap: break-word;
}
.qTags {
  max-width: 280px;
  word-wrap: break-word;
}
.creator {
  word-wrap: break-word;
}
</style>
