<template>
  <section>

    <div class="card">
      <div class="card-content">
        <b-field label="Вопрос" type="is-success">
          <b-input v-model="title" maxlength="120">
          </b-input>
        </b-field>

        <b-field label="Пояснение к вопросу">
          <b-input maxlength="1200" type="textarea" v-model="description" :rules="descriptionRules">
          </b-input>

        </b-field>

        <b-field label="Тэги">
          <b-taginput v-model="selectedTags" :data="tags" autocomplete :allowNew="allowNewTags" field="value" icon="label" placeholder="Начните вводить тэг" @typing="getFilteredTags">

          </b-taginput>
        </b-field>

        <center>
          <a v-if="sendButtonEnabled" @click="createTopic()" class="button is-primary is-medium">Создать</a>
          <a v-else class="button [disabled] is-loading is-medium">Создать</a>
        </center>
      </div>
    </div>
  </section>
</template>

<script>
import validation from './validation.js'
import Multiselect from 'vue-multiselect'

export default {
  name: 'TopicCreate',
  components: { Multiselect },
  data () {
    return {
      title: '',
      titleRules: validation.titleRules,

      description: '',
      descriptionRules: validation.descriptionRules,

      allowNewTags: false,
      selectedTags: [

      ],

      sendButtonEnabled: true
    }
  },
  computed: {
    tags () {
      return this.$store.getters.tags
    }
  },
  mounted: function () {
    this.$store.dispatch('fetchTags', null)
  },
  methods: {
    createTopic () {
      if (!this.sendButtonEnabled) {
        return
      }
      this.sendButtonEnabled = false
      this.$store.dispatch('createTopic', { categoryId: this.$route.params.categoryId, model: { title: this.title, description: this.description, tag_ids: this.selectedTags.map(tag => tag.id) } }).then(
        data => {
          this.sendButtonEnabled = true
          this.$router.push(`/categories/${this.$route.params.categoryId}/topics`)
        },
        error => {
          this.sendButtonEnabled = true
          console.log(error)
        }
      )
    },
    getFilteredTags (value) {
      return this.$store.getters.tagsByName(value)
    }
  }
}
</script>

<style scoped>

.card {
  width: 600px;
  height: 480px;
}
</style>
