<template>
    <section class="sec2tion" >

    <div class="box">
      <v-flex xs12 sm10 offset-sm1>
        <div class="columns">
          <div class="column">
            <p><h1>{{first_name}} {{last_name}}</h1></p>
            <p><div style="color: grey">email: </div>{{email}}</p>
            <p><div style="color: grey">телефон: </div>{{phone_number}}</p>
            <p><div><b-upload v-model="files">
                <a class="button is-outlined" style="color: grey">
                    <b-icon  icon="upload"></b-icon>
                    изменить аватар
                </a>
                 </b-upload>
                </div></p>
            <p><div ><a class="button is-outlined" style="color: grey" @click="change_password_flag=!change_password_flag">изменить пароль</a></div></p>
          </div>
          <div class="column">
            <p><img v-bind:src="img_src"/></p>
            
          </div>
        </div>

      </v-flex>
    </div>
    <div class="box" v-if="change_password_flag ===true">
    <h2>Изменение пароля</h2>
      <b-field label="Новый пароль">
        <b-input type="password"
          placeholder="12345"
          v-model="new_password"
          password-reveal>
        </b-input>
      </b-field>
      <div class="level" style="width: 300px;">
          <a class="button level-item" @click="changePassword()">Изменить данные</a>
        </div>
    </div>
    <div class="box">
        <template>
          <v-flex xs12 sm10 offset-sm1>
                <div>
                  <h3 class="headline mb-0"> Подписки на вопросы </h3>
                </div>
              <v-divider></v-divider>
              <v-spacer></v-spacer>
              <v-list two-line>
                <template v-for="(item) in items">
                  <v-list-tile @click="navigateToTopic(item)">
                    <v-list-tile-content>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                      <v-list-tile-sub-title class="grey--text text--darken-4">
                        {{ item.description + ' Комментариев: ' + item.comments_count }}
                      </v-list-tile-sub-title>
                      <v-list-tile-sub-title class="grey--text text--darken-4">
                        {{item.metadata.created_time.substring(0,10)}}
                      </v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
            </v-card>
          </v-flex>
        </template>
    </div>
    </section>
</template>

<script>

export default {
  name: 'Profile',

  data () {

    return {
      change_password_flag: false,
      new_password: '',
      files: []
    }
  },
  watch: {
    flength: function (val) {
      this.uploadImage()
    }
  },
  computed: {
    flength() {
      return this.files.length
    },
    items () {
      return this.$store.getters.userTopics
    },
    first_name() {
      return this.$store.getters.userFirstName
    },
    last_name() {
      return this.$store.getters.userLastName
    },
    email() {
      return this.$store.getters.userEmail
    },
    phone_number() {
      return this.$store.getters.userPhoneNumber
    },
    identity() {
      return this.$store.getters.identity
    },
    img_src() {
      return  'http://78.155.197.41:8080/api/identities/' + this.identity + '/image/?size=large'
    }
  },
  
  methods: {
    uploadImage () {
      if(this.files==null)
        return

      console.log(this.files)
      if(this.files.length!==0)
        console.log(this.files[0].name)
      this.$store.dispatch('uploadImage', {fileInput: this.files[0], identityId: this.identity})

      this.files = []
    },
    navigateToTopic (category) {
      this.$router.push(`/topics/${category.metadata.id}/comments`)
    },
    changePassword () {
      this.$store.dispatch('updateIdentityInternal', {identityId: this.identity, password: this.new_password})
      this.change_password_flag=false
      this.new_password=''
    }
    


  }

}

</script>

<style scoped>

h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}
</style>
