<template>
  <v-app id="app">
    <!-- <contents-header></contents-header>
    <div class="columns">
      <left-featured class="column is-one-quarter"></left-featured>
      <v-content class="column is-half">
        <v-container fluid fill-height>
          <v-layout justify-center align-center>
            <router-view/>
          </v-layout>
        </v-container>
      </v-content>
      <right-featured class="column is-one-quarter"></right-featured>
    </div>
    <contents-footer></contents-footer> !-->
    <router-view/>
  </v-app>
</template>


<script>
import ContentsHeader from '@/components/common/ContentsHeader.vue'
import ContentsFooter from '@/components/common/ContentsFooter.vue'
import LeftFeatured from '@/components/common/LeftFeatured.vue'
import RightFeatured from '@/components/common/RightFeatured.vue'
export default {
  name: 'App',
  components: {
    ContentsHeader,
    ContentsFooter,
    LeftFeatured,
    RightFeatured
  },
  data: () => ({
  }),
  methods: {
    stub () {
    }
  }
}
</script>

<style>
</style>
